.accordion-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  padding: 0;
}
.choice, .choice2{
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  float: left;
  align-items: center;
  transition: width 0.2s;
  border-radius:3px;
}
.expand{
  width: 70%;
  border: 1px solid black;
}
.unset{
  width: 16%;
  color: #fff !important;
  background-color: #000 !important;
}
.small{
  width: 5em;
  background-color: #000 !important;
  border: #fff 1px solid;
}

.small>.card-title {
  color: #fff;
}
.small>.card-body{
  opacity: 0;
}
.unset > div > p{
  opacity: 0;
}
.expand > div {
  transition-delay: 200ms;
  opacity: 1;
}

.card-body {
  padding: 20px;
}
.card-title{
  writing-mode: vertical-rl;
text-orientation: mixed;
}

.expand > .card-title {
  writing-mode: horizontal-tb;
  text-orientation: upright;
}

.card-title>h2 {
  font-size: 2em;
  padding: 20px;
  margin-block-end: 0em;
  margin-block-start: 0;
}
.card-text {
  font-size: 1em;
  line-height: 1.15;
  margin-block-end: 0em;
}

@media screen and (max-height: 700px) {
  .card-title>h2 {
      font-size: 2em;
  }
}

@media screen and (max-height: 600px) {
  .card-title>h2 {
      font-size: 1.5em;
      padding: 10px 20px;
  }
  .card-body {
    padding: 0 20px;
    line-height: 1;
  }

  .container{
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    padding: 0;
  }
}